
* {
    box-sizing: border-box;
}

/*----- Base Element Styles ------------*/

/*----------- Selector Styles ------------*/

/* ---- Navigation ---- */

/* ---- Layout Containers ---- */

/*------------------Media Queries----------*/

body {
    background-color: lightgrey;
}

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.main-nav .links a {
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: row;
}

.row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-content {
    background-color: white;
    margin: 1.25em;
    padding: 1.15em;
}

.main-content h2 {
    text-align: center;
    margin: 1.7em 0 2.5em 0;
}

.main-content .card {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 25em;
}

.main-content .card img {
    display: block;
    margin: 0 auto;
    width: 25em;
}
