* {
    box-sizing: border-box;
}

body {
    background-color: rgba(240, 236, 236, 0.45);
    font-family: 'Roboto Condensed', sans-serif;
}

.main {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

a {
    text-decoration: none;
}

.main-nav .name {
    font-size: 1.5625em;
    font-weight: bold;
    padding: 15px 0 20px;
}

.main-nav .links a {
    font-size: 13px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    background-color: white;
    margin-bottom: 5px;
    padding: 5px;
}

a:link, a:visited {
    color: black;
}

a:hover {
    color: #FACD6D;
}

.header img {
    margin: 0 auto;
    width: 100%;
    padding: 2.5em 2.5em 0;
}

.header p {
    font-family: 'BenchNine', sans-serif;
    font-size: 1.1875em;
    font-weight: lighter;
    color: grey;
}

.main-content {
    background-color: white;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 1.5625em;
}

.main-content h2 {
    font-size: .94em;
    margin-top: 2em;
    margin-bottom: 0;
    padding: 2.5em 0 1.1em;
    text-transform: uppercase;
}

.main-content .card img {
    margin: 0 auto;
    width: 100%;
    padding: 20px;
}

.main-content .card p {
    font-family: 'BenchNine', sans-serif;
    color: rgba(41, 39, 39, 0.86);
    font-size: 1.125em;
    padding: 0 16px;
}

.contact-info {
    margin: 3.125em 0;  
}
.contact-info .contact {
    font-size: .94em;
    font-weight: bold;
    text-transform: uppercase;
}

.text, .text-para {
    color: grey;
}

.footer-nav {
    border-top: 1px solid lightgrey;
    padding: 1.5625em 0;
}

.footer-nav h3 {
    display: inline;
    font-size: 1em;
    padding-right: 6.7em;
}

.footer-ul {
    display: none;
}

.top {
    list-style-type: none;
    text-transform: uppercase;
    font-size: smaller;
    font-weight: bold;
}


/*------------------Media Queries----------*/

@media (min-width: 768px) {
    .main-nav .name {
        padding: 40px 0 20px;
    }
    
    .main-nav .links a {
        display: inline;
        background-color: inherit;
        padding-left: 2.3em;
    }

    .header {
        display: flex;
        flex-direction: row-reverse; 
        margin: 3.125em 1.5625em;      
    }

    .header img {
        width: 50%;
        padding: 0;
    }

    .header p {
        font-size: 1.375em;
        margin: 0;
        padding-right: 1em;
    }

    .main-content .card {
        width: 50%;
    }

    .main-content .row-container{
        display: flex;
        flex-wrap: wrap;
    }

    .main-content .card p {
        padding: 0 25px;
    }

    .text-para {
        margin: 35px 100px;
    }

    .footer-nav {
        padding: 1em 0 3em;
        display: flex;
        flex-direction: row;
    }

    .footer-ul {
        display: inline;
        list-style-type: none;
    }

    .top {
        display: none;
    }
}



@media (min-width: 1024px) {
    
}